body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #ccc; */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color:  #2196f3;
    ;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color:#2196f3;;
}

